<!-- src/app/pages/home/home.component.html -->
<div class="home-container">
  <!-- Search Section -->
  <div class="search-create-container">
    <input
      type="text"
      placeholder="Search Canvas Name"
      [(ngModel)]="searchQuery"
      class="search-input"
      (keyup.enter)="searchCanvas()"
    />
  </div>

  <!-- Trending Canvases Section -->
  <h2>Trending Canvases</h2>
  <div class="cards-container trending-canvases">
    <div class="card" *ngFor="let item of items">
      <img class="card-img" [src]="item.image" alt="{{item.title}}" />
      <div class="card-body">
        <h2>{{ item.title }}</h2>
        <p>{{ item.date | date:'medium' }}</p>
        <button (click)="readMore()">Read More</button>
      </div>
    </div>
  </div>

  <!-- My Collection Section -->
  <h2>My Collection</h2>
  <div class="cards-container my-collection">
    <button class="fab-inline" (click)="goToCreateCanvas()">+</button>
    <div class="card" *ngFor="let item of items">
      <img class="card-img" [src]="item.image" alt="{{item.title}}" />
      <div class="card-body">
        <h2>{{ item.title }}</h2>
        <p>{{ item.date | date:'medium' }}</p>
        <button (click)="readMore()">Read More</button>
      </div>
    </div>
  </div>

 
</div>
